<!doctype html>
<html lang="en">
  <head>
  	<title>Pagos Contab</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/css/style.css">


<style>
.table tbody th, .table tbody td {
 padding:10px;
 /* viene por defecto el scroller overflow-x: scroll; */

}

.ftco-section {
    padding: 2em 0;
	 /* viene por defecto en style css 7em */
}

</style>


	</head>
	<body>
		<div class="container">
			<div class="row">
		
			  <div class="col-6"> Empresa:
				<select id="empresa-select" onchange="actualizaData()" class="custom-select custom-select-lg mb-3">
		
				  <option selected value="0">Guard Service Seguridad S.A.</option>
				  <option value="2">GS Outsourcing S.A.</option>
		
				</select>
			  </div>
			  <div class="col-6"> Mes:
				<select id="mes-select" onchange="actualizaData()" class="custom-select custom-select-lg mb-3">
		
			   <option selected value="2021-08-01">2021-08</option>
				  <option value="2021-07-01">2021-07</option>
				  <option value="2021-06-01">2021-06</option>
				  <option value="2021-05-01">2021-05</option>
				  <option value="2021-04-01">2021-04</option>
				  <option value="2021-03-01">2021-03</option>
				  <option value="2021-02-01">2021-02</option>
				  <option value="2021-01-01">2021-01</option>

			  
		
				</select>
			  </div>
			</div>
		  </div>


	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">PAGOS A CONTABILIZAR</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<!--<h4 class="text-center mb-4">MES 07-2021</h4>-->	

                 <a href="#" id='contabiliza-button'  class="btn btn-secondary">GENERAR ARCHIVOS</a>
               
					<div class="table-wrap">
						<table id="pagos-table" class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>CLIENTE NOMBRE</th>
					        <th>CLIENTE CODI</th>
                            <th>ID PAGO</th>
                            <th>TIPO PAGO</th>
                            <th>FECHA PAGO</th>
                            <th>TOTAL PAGO</th>
					        <th>SALDO SOFT.</th>
					        <!-- <th>MONTO CONTAB.</th> -->
					        <th>CANT. DOCTOS</th>
					        <th>SALDO PAGOS</th>
							<th>SALDO DOCTOS</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
                            <% for (var x = 0;x < pagosResumen.length;x++){ %>
					        <!--  <th scope="row" class="scope" >.com</th> -->
                            <td><%=pagosResumen[x]['NombreCliente']?pagosResumen[x]['NombreCliente'].substr(0,15):''  %></td>
                            <td><%=pagosResumen[x]['CodigoCliente'] %></td>
                            <td><%=pagosResumen[x]['IdPago']%></td>
                            <td><%=pagosResumen[x]['tipoPago'] %></td>
                            <td><%=pagosResumen[x]['FechaGral'] %></td>
                            <td><%=  new Intl.NumberFormat('en-US', {style: 'decimal'}).format(pagosResumen[x]['MontoPagoTotal'])   %></td>
                            <td><%= new Intl.NumberFormat('en-US', {style: 'decimal'}).format(pagosResumen[x]['saldoDoctos'])  %></td>
                          <!--    <td><%= new Intl.NumberFormat('en-US', {style: 'decimal'}).format(pagosResumen[x]['SumMontoPago'])  %></td> -->
                          
                            <td><%=pagosResumen[x]['CantDoctos']%></td>
                             <th scope="row" class="scope" ><%=new Intl.NumberFormat('en-US', {style: 'decimal'}).format(pagosResumen[x]['saldoPagos'])%></th> 
							 <th scope="row" class="scope" ><%=new Intl.NumberFormat('en-US', {style: 'decimal'}).format(pagosResumen[x]['saldoDoctosTotal'])%></th> 
                             <!-- <td><a href="#" class="btn btn-primary">Sign Up</a></td> -->
					      </tr>
                          <% }  %>  

                            <!-- 
					      <tr>
					        <th scope="row" class="scope" >.net</th>
					        <td>1 Year</td>
					        <td>$75.00</td>
					        <td>$5.00</td>
					        <td>$5.00</td>
					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					      <tr>
					        <th scope="row" class="scope" >.org</th>
					        <td>1 Year</td>
					        <td>$65.00</td>
					        <td>$5.00</td>
					        <td>$5.00</td>
					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					      <tr>
					        <th scope="row" class="scope" >.biz</th>
					        <td>1 Year</td>
					        <td>$60.00</td>
					        <td>$5.00</td>
					        <td>$5.00</td>
					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					      <tr>
					        <th scope="row" class="scope" >.info</th>
					        <td>1 Year</td>
					        <td>$50.00</td>
					        <td>$5.00</td>
					        <td>$5.00</td>
					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>
					      <tr>
					        <th scope="row" class="scope border-bottom-0">.me</th>
					        <td class="border-bottom-0">1 Year</td>
					        <td class="border-bottom-0">$45.00</td>
					        <td class="border-bottom-0">$5.00</td>
					        <td class="border-bottom-0">$5.00</td>
					        <td class="border-bottom-0"><a href="#" class="btn btn-primary">Sign Up</a></td>
					      </tr>

                           -->
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>

<script>
$(document).ready(function () {

	let listaMeses =  JSON.parse('<%-JSON.stringify(listaMeses)%>')
	
$('#mes-select').empty()
   

      listaMeses.map((mes,index)=>{
		  if (index==0) $('#mes-select').append(`<option selected value="`+mes+`"> `+mes.substr(0,7)+`</option>`); 
		 else $('#mes-select').append(`<option  value="`+mes+`"> `+mes.substr(0,7)+`</option>`); 
      })

	})

  $("#contabiliza-button").click(function (event) {

    console.log("boton apretado")

	let empresa=$("#empresa-select").val()
	let empresaDetalle=$("#empresa-select").find(":selected").text();
	console.log(empresaDetalle)

 let mes=$("#mes-select").val()

let data={"empresa":empresa,"mes":mes}

$.ajax({
    type: "POST",
	//dataType: 'json', esto produce error al descargar el zip
	enctype: 'multipart/form-data',
    url: "/contabiliza_pagos/getArchivosContables",
	data: JSON.stringify(data),
	contentType: 'application/json',
    processData: false,
   
    xhrFields:{
            responseType: 'blob'
        },
    cache: false,
    timeout: 600000,
    success: function (blob) {
console.log('success')


var binaryData = [];
binaryData.push(blob);
url = window.URL.createObjectURL(new Blob(binaryData, {type: "application/zip"}))


    const a = document.createElement('a');
    a.style.display = 'none';
    a.href = url;
    // the filename you want
  let fileName=

    a.download = empresaDetalle+'-'+mes.substr(0,7)+ '.zip';
    document.body.appendChild(a);
    a.click();
    window.URL.revokeObjectURL(url);
    alert('Archivos Generardos correctamente'); // or you know, something with better UX...

        
    },
    error: function (e) {
//se retorna status 500 cuando no hay data
		alert('Error, no hay registros para contabilizar');
        console.log("ERROR : ", e);


    }
});
});


function actualizaData(){
	let empresa=$("#empresa-select").val()
 let mes=$("#mes-select").val()

let data={"empresa":empresa,"mes":mes}

	$.ajax({
    type: "POST",
    dataType: 'json',
    contentType: 'application/json',
    url: "/contabiliza_pagos/getPagosMes",
    data: JSON.stringify(data),
    processData: false,
    cache: false,
    timeout: 600000,
    success: function (data) {

      
        console.log("SUCCESS : ", data);
      
        
       if (data.status=="OK"){
  console.log("todook")

  $('#pagos-table> tbody').empty();

   let rows=data["pagosResumen"]
  for (var i = 0; i < rows.length; i++) {
  var row = rows[i];
  row['NombreCliente']= row['NombreCliente']?row['NombreCliente'].substr(0,15):''
  $('#pagos-table').append('<tr><td>' + row['NombreCliente']+ '</td><td>' + row['CodigoCliente'] + '</td><td>' +
  row['IdPago'] + '</td><td>' + row['tipoPago'] + '</td><td>' + row['FechaGral'] + '</td><td>' +
	new Intl.NumberFormat('en-US', {style: 'decimal'}).format(row['MontoPagoTotal'])+ '</td><td>' +new Intl.NumberFormat('en-US', {style: 'decimal'}).format(row['saldoDoctos']) 
		+ '</td><td>' 
		+	row['CantDoctos']+ '</td><th scope="row" class="scope" > '
			+	new Intl.NumberFormat('en-US', {style: 'decimal'}).format(row['saldoPagos'])+ '</th><th scope="row" class="scope" > '
			+	new Intl.NumberFormat('en-US', {style: 'decimal'}).format(row['saldoDoctosTotal'])+ '</th></tr>');
	
}


       }else{

         //si hay algun error el status no será OK, por lo que se debe eliminar la referencia del archivo subido, mandando triguer on chanque val('') este evento (on change) hara que se desactive
         // y mostrar el mensaje
         console.log("error en request")

    
        
    }},
    error: function (e) {

    
        console.log("ERROR : ", e);
  

    }
});

}
</script>

	</body>
</html>

