<html>
<head>
    </head>
    <style>
        html {
  zoom: 0.65;
}
body {
  height:100vh;
}
        table
	{mso-displayed-decimal-separator:"\,";
	mso-displayed-thousand-separator:"\.";}
    /* 
    columna 1
    */

    td{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
    .CENTRO{
    padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;


    }
	.xl8431828
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	border-top:1.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}

    

    .xl7331828
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}

    .xxxx
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}

.xl6831828
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}

    .xl1531828
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}

    .xl6631828
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}

    .xl6731828
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
    .xl7731828
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
    .xl6531828
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}

    </style>

    <body>
		<% for (var x = 0;x < templates_persona.length;x++){ %>
		
 <div  align=center >
        <table border=0 cellpadding=0 cellspacing=0 width=940 style='border-collapse:
        collapse;table-layout:fixed;width:706pt'>
 <col width=311 style='mso-width-source:userset;mso-width-alt:11373;width:233pt'>
 <col class=xl6631828 width=117 style='mso-width-source:userset;mso-width-alt:
 4278;width:88pt'>
 <col width=2 style='mso-width-source:userset;mso-width-alt:73;width:2pt'>
 <col width=105 style='mso-width-source:userset;mso-width-alt:3840;width:79pt'>
 <col width=52 style='mso-width-source:userset;mso-width-alt:1901;width:39pt'>
 <col width=285 style='mso-width-source:userset;mso-width-alt:10422;width:214pt'>
 <col class=xl6631828 width=68 style='mso-width-source:userset;mso-width-alt:
 2486;width:51pt'>
 <tr class=xl6531828 height=17 style='height:12.75pt'>
  <td height=17 class=xl7731828 width=311 style='height:12.75pt;width:233pt'>XXXXX</td>
  <td class=xl6731828 width=117 style='width:88pt'></td>
  <td class=xl6831828 width=2 style='width:2pt'></td>
  <td class=xl6831828 width=105 style='width:79pt'></td>
  <td class=xl6831828 width=52 style='width:39pt'></td>
  <td class=xl6831828 width=285 style='width:214pt'></td>
  <td class=xl6731828 width=68 style='width:51pt'></td>
 </tr>
 <tr class=xl6531828 height=17 style='height:12.75pt'>
  <td height=17 class=xl7731828 style='height:12.75pt'>XXXXX</td>
  <td class=xl6731828></td>
  <td class=xl6831828></td>
  <td class=xl6831828></td>
  <td class=xl6831828>FECHA:</td>
  <td class=xl6931828>05-03-2019</td>
  <td class=xl6831828></td>
 </tr>
 <tr class=xl6531828 height=17 style='height:12.75pt'>
  <td height=17 class=xl7131828 align=center style='height:12.75pt'><span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl6731828></td>
  <td class=xl6831828></td>
  <td class=xl6831828></td>
  <td class=xl6831828>MES:</td>
  <td class=xl7231828>XXXXX</td>
  <td class=xl6831828></td>
 </tr>

 <tr class=xl6531828 height=17 style='height:12.75pt'>
        <td height=17 class=xl7131828 align=center style='height:12.75pt'><span
        style='mso-spacerun:yes'> </span></td>
        <td class=xl7331828 colspan=3>LIQUIDACION DE SUELDOS</td>
        <td class=xl6831828></td>
        <td class=xl6831828></td>
        <td class=xl6731828></td>
       </tr>
       <tr class=xl6531828 height=17 style='height:12.75pt'>
        <td height=17 class=xl7431828 style='height:12.75pt'><span
        style='mso-spacerun:yes'> </span></td>
        <td class=xl6731828></td>
        <td class=xl6831828></td>
        <td class=xl7431828></td>
        <td class=xl6831828></td>
        <td class=xl6831828></td>
        <td class=xl6731828></td>
       </tr>
       <tr class=xl6531828 height=17 style='height:12.75pt'>
        <td height=17 class=xl7431828 style='height:12.75pt'>FICHA:</td>
        <td class=xl7431828>XXXXX</td>
        <td class=xl6831828></td>
        <td class=xl7431828>NOMBREWW:</td>
        <td class=xl7431828>XXXXX</td>
        <td class=xl6831828></td>
        <td class=xl6731828></td>
       </tr>
       <tr class=xl6531828 height=17 style='height:12.75pt'>
        <td height=17 class=xl7431828 style='height:12.75pt'></td>
        <td ></td>
        <td ></td>
        <td >R.U.N.<span style='mso-spacerun:yes'>    </span>:</td>
        <td >XXXXX</td>
        <td ></td>
        <td ></td>
       </tr>
        
	   <% for (var i = 0;i < templates_persona[x].template.length;i++){ %>
	
		<tr  height=17 style='height:12.75pt'>
			<% for (var j = 0;j <= 1 ;j++){ %>

				<% 	if (!templates_persona[x].template[i][j].VAR_NOMBRE){ %>
					<td></td>
					<td ></td>
					<td></td>
					<td ></td>
					<td ></td>
					<% }  %>  

				<% 	if (templates_persona[x].template[i][j].TIPO=='NORMAL'){ %>
                <td ><%= templates_persona[x].template[i][j].VAR_NOMBRE %></td>
                <td class=xl6731828><%= templates_persona[x].template[i][j].VAR_VALOR %></td>
                <td ></td>
                <td ></td>
				<td ></td>
				
				<% }  %>  
				<%  if (templates_persona[x].template[i][j].TIPO=='TOTAL'){  %>
					<td style="font-weight: bold;"><%= templates_persona[x].template[i][j].VAR_NOMBRE %></td>
					<td class=xl6731828 style="border-top: 1.5pt solid "><%= templates_persona[x].template[i][j].VAR_VALOR %></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<% }  %>  

					<% if (templates_persona[x].template[i][j].TIPO=='TITULO'){  %>
						<td style="font-weight: bold;"><%= templates_persona[x].template[i][j].VAR_NOMBRE %></td>
						<td></td>
						<td ></td>
						<td ></td>
						<td ></td>
						<% }  %>  

						

				<% }  %>  
				

               </tr>
			   
					 
					   <% } %>  
			  </table>
			 
                      
            </div>
    <!--salto de pagina antes-->
             <!--  <div style="page-break-after:always;"><%= x+1%></div> -->
			  
			  <div style="page-break-after:always;"></div>
			  <% } %>
			</body>
</html>